{%extends "ChannelBundle:Default:index.html.twig"%}

{%block heading%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{%endblock%}
{%block stylesheet%}
{%endblock%}

{%block content%}
<table class="table table-striped" id='table_data'>
<tr><td>Channel ID</td><td>Channel Title </td><td>Update</td></tr>
 {% for entity in entities %}
 
            <tr>
				<td>{{ entity.id }}</td>
                <td><a href="{{ path('channels_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                            
                <td> 
                <ul>
                    <li>
                        <a href="{{ path('channels_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('channels_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
		</table>
	
{%endblock%}
{%block javascript%}
<script src="{{ asset('bundles/channel/js/channel.js') }}"></script>
<script language='javascript'>

</script>
{% endblock %}