<html>
{%block heading%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{%endblock%}
{%block stylesheet%}

{%endblock%}
<style>
/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}
.table{
width:70%;
margin-left:20%;

}

</style>
<label>Select Region</label>
<select name='region' id='regions'>
 {% for region in regions %}
 <option value="{{region.id}}" >  {{region.region}} </option>
 {% endfor %}
 </select>
 <label>Select Package</label>
 <select name='package' id='package'>
 {% for package in packages %}
 <option value="{{package.abr}}" >  {{package.package}} </option>
 {% endfor %}
 </select>
<body>
<div></div>
<table class='table' id='table_data'>
 {% for entity in entities %}
 
            <tr>
                <td><a href="{{ path('channels_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('channels_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('channels_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
		</table>
</body>
</html>
<script language='javascript'>
(function($){
//alert('oay');
	$('#regions').change(
		function (){
		//alert($('#regions').val());
		var pac=$('#package').val();
			$.ajax({
			url:'/virginmedia/web/app_dev.php/mapping'+'/S',
			beforeSend:function()
			{
				$('#table_data').html('<tR><td>loading...</td></tr>');
			},
			success:function(data)
			{
				$('#table_data').html(data);
			}
			});
		}
	);
	$('#package').change(
		function (){
			var pac=$('#package').val();
			$.ajax({
			url:'/virginmedia/web/app_dev.php/mapping'+'/'+pac,
			beforeSend:function()
			{
				$('#table_data').html('<tR><td>loading...</td></tr>');
			},
			success:function(data)
			{
				$('#table_data').html(data);
			}
			});
		}
	);
})(jQuery);
</script>
