<tr><td>Channel ID</td><td>Channel Title </td><td>Update</td><tr>
{% for mapping in mappings %}
	{%for map in mapping%}
		<tr>
				<td>{{ map.id }}</td>
                <td><a href="{{ path('channels_show', { 'id': map.id }) }}">{{ map.title }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('channels_show', { 'id': map.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('channels_edit', { 'id': map.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
	{% endfor %}
{% endfor %}